.content(ng-controller="GameController")
  .game
    %h2 Find a Game

    %form(name='gameForm' id='gameForm')
      .control.type

      .control.state

      .next
        .button
          %a(href="/play") Join Game
