.content(ng-controller="ProfileController")
  Welcome.
  .profile
    %h2 Game Profile

    %form
      .control.handle
        %span.label Handle
        %span.data
          %input(ng-model="profile.handle" ng-minlength="4" ng-required=true ng-trim="true")
      .control.location
        %span.label Location
        %span.data
